//button
.openaside
  display none
  position fixed
  right 7.5%
  top 260px
  a
    display block
    color color-white
    border 1px solid color-white
    border-radius 5px
    background color-theme-2
    padding 0.2rem 0.55rem
    &::before
      font-family font-icon-family
      font-smoothing()
      content "\f0c9"

.closeaside
  display none
  a
    color color-font
    &:hover
      color color-theme-3
    &::before
      font-family font-icon-family
      font-smoothing()
      content "\f0c9"
  @media tablet
    display block
    position absolute
    right 25px
    top 22px

//sidebar
#asidepart
  background color-section
  margin 1rem 0 0
  padding 0.5rem 2% 1rem
  @media tablet
    position relative
    float left
    width 18%
    margin 2rem 0 0 3%

.asidetitle
  font-size 1.1rem
  color color-aside-title
  padding 0 0 0.3125rem 0
  border-bottom 0.1875rem solid color-gray
  a
    color color-aside-title
    &:hover
      color color-theme-1
      transition color .5s

//categories
.categorieslist
  @media mini
    width 45%
    float left
    margin 0 5% 0 0
  @media tablet 
    width 100%
    float none
    margin 1rem 0 0
  li 
    border-bottom 1px solid color-gray
    a
      display block
      padding 0.5rem 5%
      &:hover
        color color-theme-1

//tag
.tagslist
  margin 1rem 0 0
  @media mini
    width 45%
    float left
    margin 0 5% 0 0
  @media tablet 
    width 100%
    float none
    margin 1rem 0 0
  ul
    padding 0.5rem 0
  ul li
    float left
    a
      display block    
      border-style dotted
      border-width 2px
      border-radius 0.5rem
      margin 0.3125rem
      padding 0.25rem 0.625rem
      background color-tag
      &:hover
        color color-theme-3
        background lighten(color-gray, 50%)

//rss
.rsspart
  background color-theme-2
  width 100%
  @media mini
    float left
    width 45%
    margin 0 5% 0 0
  @media tablet 
    width 100%
    float none
    margin 1rem 0 0
  a
    color color-white
    display block
    padding 0.625rem 0
    text-align center
    &:hover
      color color-theme-1
      background color-section
    &::before
      font-family font-icon-family
      font-smoothing()
      padding-right 0.5rem
      content "\f09e"

//archive
.archiveslist
  @media mini
    width 45%
    float left
    margin 0 5% 0 0
  @media tablet 
    width 100%
    float none
    margin 1rem 0 0
  li 
    font-size 0.8rem
    line-height 2rem
    a
      padding 0.5rem
      &:hover
        color color-theme-1
        transition color .25s
  .archive-list-count
    &:before
      content "("
    &:after
      content ")"
          
.archive-list 
  padding 0.5rem 0 

.archive-float 
  ul
    padding 0 
  li
    float left
    margin 0.3rem
    @media tablet
      float none

//tagcloud
.tagcloudlist
  @media mini
    width 45%
    float left
    margin 0 5% 0 0
  @media tablet 
    width 100%
    float none
    margin 1rem 0 0
  .tagcloudlist
    a
      padding 0.2rem
      display block
      float left
      &:hover
        color color-theme-1
        transition color .25s

//links
.linkslist
  margin-top 0.5rem 
  @media mini
    width 45%
    float left
    margin 0 5% 0 0
  @media tablet 
    width 100%
    float none
    margin 1rem 0 0
  ul
    padding 0.5rem 0
    a
      font-size 1rem
      line-height line-height
      display block
      padding 0 3%
      &:hover
        color color-theme-1
        transition color .25s

